*{

    font-family: 'Montserrat';;
}



.head-div {
    text-align:center;
    padding-top: 5%;
    padding-bottom:1%;
}
    
#h5{ 
    margin: 0;
}

.alink{
    text-align: center;
    margin-top: 1px;
    padding: 10px 0;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-top: 15px;
    margin-right: auto;
    border-radius: 10px;

    background-color: #a30f0f;
    color:white;
    text-decoration:none;

}

.alink:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(193, 60, 60);
    /* border: 1px solid; */
    border-color:rgb(194, 22, 22);
}

.copyright{
    text-align:center;
}

.logo-img {
    border-radius: 100px;
    height: 100px;
}
    
@media (max-width: 768px) {
    .link {
      width: 90%;
    }

    .container{
        margin-top: 20%;
        margin-bottom: auto;
    }

    .alink{
        padding: 20px;
        margin-top: 20px;
        width: 85%;
        border-radius: 20px;

    }
}

